
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form name="ecom" method="post" 

action="https://test.timesofmoney.com/direcpay/secure/dpMerchantPayment.jsp">

<input type="text" name="requestparameter" value="<%= requestparameter %>">
<input type="text" name="billingDtls" value="<%= billingDtls %>">
<input type="text" name="shippingDtls" value="<%= shippingDtls %>">
<input type="submit" name="submit" value="Submit">

    </form>
</body>
</html>
