vti_encoding:SR|utf8-nl
RealmName:prawncrunch.xlentfacilities.com
PasswordDir:C:\\HSphere.NET\\data\\services\\resources\\frontpage\\prawncrunch.xlentfacilities.com\\_vti_pvt
InheritPermissions:false
